<p id="notice"><%= notice %></p>

<h1>CONSCIOUS/mess</h1>
<h2>...a stream of anonymous online ramblings</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td><%= ripple.name %></td>     
        <td><%= ripple.message %></td>
	<td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ripple', new_ripple_path %>
