<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
	<% if(ripple.url.nil? || ripple.url.empty?) %>
            <td><%= ripple.name %></td>
	<% else %>
	    <td><%= link_to ripple.name, "http://#{ripple.url}" %></td>
	<% end %>
        <td><%= ripple.message[0..50].gsub(/\s\w+$/,'...') %></td>
	<td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Newest', ripples_path(:page_num => 1) %> |
<%= link_to 'Previous 10 Ripples', ripples_path(:page_num => 2, :id => @ripples.ids.last) %> |
<%= link_to 'Next 10 Ripples', ripples_path(:page_num => 3, :id => @ripples.ids.first) %> |
<%= link_to 'Oldest', ripples_path(:page_num => 4) %> |
<%= link_to 'New Ripple', new_ripple_path %>

