<p id="notice"><%= notice %></p>

<div class = show_name>
<% if(@ripple.url.nil? || @ripple.url.empty?) %>
    <%= @ripple.name %>
<% else %>
    <%= link_to @ripple.name, "http://#{@ripple.url}" %>
<% end %> said...
</div>

<div class = show_message>
  <%= @ripple.message %>
</div>

<%= link_to 'Back', ripples_path %>
