<p id="notice"><%= notice %></p>

<p>
<% if(@ripple.url.nil? || @ripple.url.empty?) %>
    <%= @ripple.name %>
<% else %>
    <%= link_to @ripple.name, "http://#{@ripple.url}" %>
<% end %> said...
</p>

<p>
  <%= @ripple.message %>
</p>

<%= link_to 'Back', ripples_path %>
