<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ripple.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ripple.url %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ripple.message %>
</p>

<%= link_to 'Edit', edit_ripple_path(@ripple) %> |
<%= link_to 'Back', ripples_path %>
